p {
	font-size: 20px;
}

body {
	background-image: url(../../webroot/assets/images/elephant-2.jpg);
	    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	    background-attachment: scroll;
    background-position: center center;
    display: block;
}/* Scss Document */
